%turbo-frame#request
  .box.details
    %h4.title.is-4= fa 'fa-graduation-cap fa-fw', t('activerecord.models.qualification.one')
    .columns.is-multiline
      .column.is-3= details_element qualification, :category, alt: t(qualification.category, scope: 'site.qualifications.category')
      .column.is-9= details_element qualification, :title
      .column.is-9= details_element qualification, :istitute
      .column.is-3= details_element qualification, :year
      - if qualification.votable?
        .column= details_element qualification, :vote, alt: "#{qualification.vote} / #{qualification.vote_type}"
      - else
        .column= details_element qualification, :duration, alt: "#{qualification.duration} / #{t qualification.duration_type, scope: 'site.qualifications.duration_type'}"
  .block.has-text-centered
    = link_back user_request_qualifications_path(current_user, user_request), class: 'button is-info'
    - if editable
      = link_edit edit_user_request_qualification_path(current_user, user_request, qualification), class: 'button is-success'
      = link_destroy user_request_qualification_path(current_user, user_request, qualification), class: 'button is-warning'
