%a.box.is-hoverable{href: contest_path(contest), data: {turbo_frame: 'modal'}}
  %h5.title.is-size-5
    = contest.title
  %h6.subtitle.is-size-6
    = t 'activerecord.attributes.contest.code'
    = contest.code
    \-
    = t 'activerecord.attributes.contest.stop_at'
    = l contest.stop_at
