= form.label :value, class: 'label' do
  %span.icon-text
    - if answer.errors.present?
      %span.icon.has-text-danger= fa 'fa-circle-xmark'
    - elsif answer.value?
      %span.icon.has-text-success= fa 'fa-circle-check'
    - elsif answer.mandatory?
      %span.icon.has-text-warning= fa 'fa-circle-exclamation fa-fw'
    %span= answer.question.title
