%turbo-frame#yield
  %h3.title.is-3.has-text-centered
    = fa 'fa-check', t('activerecord.models.request.other')
  .columns
    %aside.column.is-3
      = form_with scope: 'filter', url: contests_path, method: :get, data: {turbo_frame: 'contests', controller: 'form', form_target: 'sender'} do |f|
        %nav.panel
          %p.panel-heading= t 'site.request.index.search'
          .panel-block
            %p.control.has-icons-left
              = f.text_field :text, placeholder: 'Testo', class: 'input', data: {action: 'keyup->form#delayedSendForm'}
              %span.icon.is-left
                %i.fa-solid.fa-search
          %label.panel-block
            = f.radio_button :type, '', selected: true, data: {action: "form#sendForm"}
            %span= t('all', scope: 'site.requests.scope')
          %label.panel-block
            = f.radio_button :type, 'ended', data: {action: "form#sendForm"}
            %span= t('not_sended', scope: 'site.requests.scope')
          %label.panel-block
            = f.radio_button :type, 'ended', data: {action: "form#sendForm"}
            %span= t('sended', scope: 'site.requests.scope')
        - if @groups.present?
          %nav.panel
            %p.panel-heading= t 'site.generic.groups'
            - @groups.each do |group|
              %label.panel-block
                = f.radio_button :group, group.id, data: {action: "form#sendForm"}
                %span= group.title
            %label.panel-block
              = f.radio_button :group, '', selected: true, data: {action: "form#sendForm"}
              %span= t('site.generic.all')

    .column= render 'index'
