%a.box.list-item.is-hoverable{href: user_request_career_path(current_user, user_request, career)}
  .list-item-content
    .list-item-title= career.employer
    .list-item-description
      .field.is-grouped.is-grouped-multiline
        .control
          .tags.has-addons 
            %span.tag.is-success= fa('fa-calendar fa-fw')
            %span.tag #{l career.start_on} - #{l career.stop_on}
        .control
          .tags.has-addons
            %span.tag.is-success= fa('fa-link fa-file-lines')
            %span.tag= t career.category, scope: 'site.careers.category'

  .list-item-controls
    .buttons.is-right
      .button= fa 'fa-maximize'
