= form_with(model: [current_user, user_request, addition]) do |form|
  .field
    = form.label :title, class: 'label'
    .control= form.text_field :title, class: 'input', required: true, maxlength: 246
    %p.help.is-danger= addition.errors[:title].join(' - ')

 
  .field
    = form.label :description, class: 'label'
    .control= form.text_area :description, class: 'textarea'
    %p.help.is-danger= addition.errors[:description].join(' - ')

  .columns
    .field.column
      = form.label :url, class: 'label'
      .control= form.url_field :url, class: 'input'
      %p.help.is-danger= addition.errors[:url].join(' - ')
    .field.column
      = form.label :file, class: 'label'
      .control= form.file_field :file, class: 'input'

  .field.is-grouped.is-grouped-centered
    %p.control= form.button class: 'button is-success'
    %p.control= link_back user_request_additions_path(current_user, user_request), class: 'button is-info'
